body,h1, h2, ul,p {
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

header{
    Background-color: #0074d6;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
List-style-type: none;
overflow: hidden;
}

nav li {
    float:left;
}